div.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    margin-top: 0.25rem;
}

div.action-container>button.action {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #a1a1aa;
    background-color: transparent;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

div.action-container>button.action:hover {
    background-color: #52525b;
}

div.action-container>button.action>svg {
    fill: #d4d4d8;
    width: 1rem;
    height: 1rem;
}

div.action-container>div.search-sort-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
}

div.action-container>div.search-sort-container>input {
    width: 90%;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #a1a1aa;
    color: #d4d4d8;
    background-color: transparent;
    transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

div.action-container>div.search-sort-container>input::placeholder {
    color: #a1a1aa;
}

div.action-container>div.search-sort-container>input:focus {
    outline: none;
    border-color: #52525b;
}

div.action-container>div.search-sort-container>select {
    width: 90%;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #a1a1aa;
    color: #d4d4d8;
    background-color: transparent;
    transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

div.action-container>div.search-sort-container>select:focus {
    border-color: #52525b;
}

div.action-container>div.search-sort-container>select>option {
    margin: 0;
    padding: 0;
    color: #d4d4d8;
    background-color: #18181b;
}